openorder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oo="http://oss.dbc.dk/ns/openorder" xmlns:oow="http://oss.dbc.dk/ns/openorder_wsdl" targetNamespace="http://oss.dbc.dk/ns/openorder_wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified">
			<xs:import schemaLocation="openorder.xsd" namespace="http://oss.dbc.dk/ns/openorder"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="checkOrderPolicyRequest">
		<wsdl:part name="body" element="oo:checkOrderPolicyRequest"/>
	</wsdl:message>
	<wsdl:message name="checkOrderPolicyResponse">
		<wsdl:part name="body" element="oo:checkOrderPolicyResponse"/>
	</wsdl:message>
	<wsdl:message name="placeOrderRequest">
		<wsdl:part name="body" element="oo:placeOrderRequest"/>
	</wsdl:message>
	<wsdl:message name="placeOrderResponse">
		<wsdl:part name="body" element="oo:placeOrderResponse"/>
	</wsdl:message>
	<wsdl:portType name="checkOrderPolicyPortType">
		<wsdl:operation name="checkOrderPolicy">
			<wsdl:input message="oow:checkOrderPolicyRequest"/>
			<wsdl:output message="oow:checkOrderPolicyResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="placeOrderPortType">
		<wsdl:operation name="placeOrder">
			<wsdl:input message="oow:placeOrderRequest"/>
			<wsdl:output message="oow:placeOrderResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="placeOrderSoapBinding" type="oow:placeOrderPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="placeOrder">
			<soap:operation soapAction="placeOrder"/>
			<wsdl:input name="placeOrderRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="placeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="checkOrderPolicySoapBinding" type="oow:checkOrderPolicyPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="checkOrderPolicy">
			<soap:operation soapAction="placeOrder"/>
			<wsdl:input name="checkOrderPolicyRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="checkOrderPolicyResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="openOrderService">
		<wsdl:port name="placeOrderPortType" binding="oow:placeOrderSoapBinding">
			<soap:address location="http://openorder.addi.dk"/>
		</wsdl:port>
		<wsdl:port name="checkOrderPolicyPortType" binding="oow:checkOrderPolicySoapBinding">
			<soap:address location="http://openorder.addi.dk"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
